!!! 5
%html
  %head
    =render '/app_frame/layout/head'
  %body
    .topbar
      .fill
        .container
          =link_to(Settings.app_name, controller_namespaces + [:root], :class => 'brand')
          %ul.nav
            =render "/#{controller_namespaces.join("/")}/layout/top_menu"
    
    #main.container
      =render '/app_frame/layout/flashes'
      =yield