- sidebar = render 'sidebar'
!!! 5
%html
  %head
    =render 'head'
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:'data-dropdown'=>"dropdown"}
      .navbar-inner
        .container-fluid
          =link_to(Settings.app_name, controller_namespaces + [:root], :class => 'brand')
          %ul.nav
            =render 'top_menu'
          %ul.nav.pull-right
            =render 'secondary_menu'
    
    #main.container-fluid
      -if sidebar.present?
        .content
          =render 'breadcrumb'
          =render 'sub_menu'
          =render 'flashes'
          =yield
        .sidebar
          = sidebar
      -else
        =render 'breadcrumb'
        =render 'sub_menu'      
        =render 'flashes'
        =yield
        