- sidebar = render 'sidebar'
!!! 5
%html
  %head
    =render '/app_frame/layout/head'
  %body
    .topbar
      .fill
        .container-fluid
          =link_to(Settings.app_name, controller_namespaces + [:root], :class => 'brand')
          %ul.nav
            =render File.join(controller_namespaces + ['layout', 'top_menu'])
          %ul.nav.secondary-nav
            =render File.join(controller_namespaces + ['layout', 'secondary_menu'])
    
    #main.container-fluid
      -if sidebar.present?
        .content
          =render 'breadcrumb'
          =render '/app_frame/layout/flashes'
          =yield
        .sidebar
          = sidebar
      -else
        =render 'breadcrumb'
        =render '/app_frame/layout/flashes'
        =yield
        