!!! 5
%html
  %head
    =render '/app_frame/layout/head'
  %body
    .topbar
      .fill
        .container-fluid
          =link_to(Settings.app_name, controller_namespaces + [:root], :class => 'brand')
          %ul.nav
            =render "/#{controller_namespaces.join("/")}/layout/top_menu"
          %ul.nav.secondary-nav
            =render "/#{controller_namespaces.join("/")}/layout/secondary_menu"
    
    #main.container-fluid
      .content
        =render '/app_frame/layout/flashes'
        =yield
      .sidebar
        =render 'sidebar'
        