select {
  width: auto;
}

input[type=text], input[type=url], textarea, .cke_skin_kama {
  width: 700px;
}

input.search-query {
  width: 300px;
}

.select2-container {
  width: 700px;
}

select.date {
  width: auto;
}

.form-inline {
  input[type=text], input[type=url] {
    width: auto;
  }
}