.tree {
  width: 600px;
  
  ul {
   margin: 0;
   border-bottom: 1px solid #ccc; 
  }
  
  ul ul {
    margin-left: 20px;
    border-bottom: 0;
  }
  
  li {
   list-style:none;
   border-top: 1px solid #ccc;
   padding: 10px;
  }
  
  .tree_nav {
    float: right;
    
    a, span {
      padding: 0 4px;
    }
    
    span {
      color: #eee;
    }
  }
}