/*
 *= require anytime
 *= require select2
 */

@import 'bootstrap';
#main, .sidebar {  margin-top:50px; }
@import 'bootstrap-responsive';
@import 'tree';
@import 'devise';

.container-fluid > .sidebar {
  position: absolute;
  top: 0;
  left: auto;
  right: 20px;
  width: 260px;
}

.container-fluid > .content {
  margin-left: 0px;
  margin-right: 280px;
}

table .last {
  width: 100px;
}

td.last {
  text-align:center;
}

select {
  width: auto;
}

.page-actions {
  float: right;
  padding-top: 4px;
}

.page-range {
  float: right;
}

.content {
  input[type=text], textarea, select, .cke_skin_kama {
    width: 700px;
  }
  
  select.date {
    width: auto;
  }
}

.btn-toolbar {
  margin-bottom: 20px;
  form {
    margin: 0;
  }
}

.debug_dump {
  display: block;
}

