/*
 *= require anytime
 *= require select2
 */

@import 'bootstrap';
#main, .sidebar {  margin-top:110px; }
@import 'bootstrap-responsive';
@import 'tree';
@import 'devise';
@import 'forms';
@import 'sidenav';
@import 'page_header';

section {
  border-bottom: 1px solid #eee;
}

.container-fluid > .sidebar {
  position: absolute;
  top: 0;
  left: auto;
  right: 20px;
  width: 260px;
}

.container-fluid > .content {
  margin-left: 0px;
  margin-right: 280px;
}

table .actions {
  width: 1%;
  white-space:nowrap;
}

.page-range {
  float: right;
}

.btn-toolbar {
  margin-bottom: 20px;
  form {
    margin: 0;
  }
}

.debug_dump {
  display: block;
}

#subnav {
  background-color: #eee;
  margin: -10px -20px 20px;
  padding: 10px 20px 0;
}
