/*
 *= require anytime
 *= require select2
 */

@import 'bootstrap';
@import 'tree';
@import 'devise';
@import 'forms';
@import 'sidenav';
@import 'page_header';
@import 'navlist';

#main, .sidebar {
 margin-top: 110px;
}

.container {
  max-width: 100%;
  padding: 20px;
}

table .last {
  width: 100px;
}

td.last {
  text-align:center;
}

.page-range {
  float: right;
}

.btn-toolbar {
  margin-bottom: 20px;
  form {
    margin: 0;
  }
}

.debug_dump {
  display: block;
}

