%h2.title
  = t("web-app-theme.new", :default => "New")
  = resource_name
.inner
  = simple_form_for resource, :html => { :class => :form } do |f|
    = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
