= breadcrumb do |items|
  - if parent?
    -items << link_to(parent_resource_name.pluralize, parent_collection_url)
    -items << link_to(parent.to_s, parent_url)
  - if params[:id]
    -items << link_to(resource_name.pluralize, collection_url)
    -items << resource.to_s
  - else 
    -items << resource_name.pluralize
